{% extends 'base.html' %}
{% block title %}Carrito de compras{% endblock %}
{% block content %}
<h1>Carrito de compras</h1>
<h2>"Azuvalentina y Kiory"</h2>

{% if carrito %}
    <ul class="lista-carrito card">
        {% for producto in carrito %}
            <li>{{ producto.nombre }} - S/ {{ '%.2f'|format(producto.precio) }}</li>
        {% endfor %}
    </ul>

    <h3>Total: S/ {{ '%.2f'|format(total) }}</h3>

    <div class="acciones-superiores">
        <a href="{{ url_for('enviar_whatsapp') }}">Enviar pedido por WhatsApp</a>
        <form method="POST" action="{{ url_for('vaciar_carrito') }}" class="form-inline">
            <button type="submit" class="btn-eliminar">Vaciar carrito</button>
        </form>
    </div>
{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}

<p><a class="link-simple" href="{{ url_for('tienda_virtual') }}">Seguir comprando</a></p>
{% endblock %}